.confirmDelete {
    
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .confirmDeleteBox {
    position: absolute;
    top: 35%;
    left: 38%;
    right: 25%;
    width: 25%;
    height: 27%;
    border-radius: 2px;
    z-index: 4000;
    background: #FFFFFF;
  }
  .confirmDeleteBox.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  }
  
  .confirmDeleteTitle {
    width: 100%;
    height: 18%;

    background: #000080;
  }

  .confirmDeleteTitle h2{
    width: 75%;
    margin: 0px;
    float:left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #FFFFFF;
  }

  .confirmDeleteTitle button {
    background-color: #000080;
    float: right;
    height: 75%;
    width: 35px;
    border: 1px solid #FFFFFF;
    color : white;
  }

  .confirmDeleteTitle button:hover {
    background-color: #0202b9;
    cursor: pointer;
  }
  
  .warningDeleteText {
    width: 100%;
    height: 12%;
    

    background: rgba(249, 109, 109, 0.5);
    color: #000000;
  }

  .warningDeleteText h2 {    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

  }
  
  .deleteText {
    margin-top: 10px;
    width: 100%;
    height: 33px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    justify-items: center;

    color: #000000;
  }
  
  .modalDeleteInputText {
    margin-top: 10px;
    width: 100%;
    height: 33px;
    left: 445px;
    top: 400px;
  }
 
  .modalDeleteInput2 input {
    margin-left: 9px;
    margin-top: 10px;
    width: 95%;
    height: 30px;
    left: 455px;
    top: 444px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .modalDeleteInputLine {
    margin-left: 5px;
    margin-top: 10px;
    width: 95%;
    height: 2px;
    left: 910px;
    top: 485px;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(179.88deg);
  }
  
  .confirmDeleteButton input{
    margin-left: 9px;
    margin-top: 10px;
    width: 95%;
    height: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    background: #000080;
    border-radius: 20px;
  }

  .confirmDeleteButton input:hover{
    background-color: #0202b9;
    cursor: pointer;
  }