.body {
  margin: auto;
}

.listaEquipamentos {
  padding: 20px;
}

.listaEquipamentos Equipamento {
  margin-left: auto;
  margin-bottom: auto;
}

.outrosTitle {
  font: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: left;
  position: relative;
  margin-top: 10px;
}

.outrosTitle::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 90%;
  top: 50%;
  height: 2px;
  background: #282828;
}
