.body {
  margin: auto;
}

.othersTitle {
  font-size: medium;
  text-align: left;
  position: left;
  margin-top: 10px;
}

.othersTitle::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 90%;
  top: 50%;
  height: 2px;
  background: #282828;
}

.equiptTitle {
  background-color: black;
  display: inline;
  font-size: medium;
  text-align: left;
}

.equipTitle::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 70%;
  top: 50%;
  height: 2px;
  background: #282828;
}
